RewriteEngine On

# Ensure the request is not for an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect all requests to redirect.php with the short code as a parameter
RewriteRule ^([a-zA-Z0-9]+)$ ./api/redirect.php?code=$1 [L,QSA]
